@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #6c6c6c;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-bottom: 30px;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.copyBtnCont:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.returnBtn{
    display: block;
    position: relative;
    top: 0;
    left: 0;
    z-index: 25;
    background-color: #000;
    width: 80px;
    height: 80px;
    font-family: "alliance", mono, sans-serif;
    align-items: center;
    justify-content: center;
    text-transform: none;
    font-weight: 600;
    font-size: 3rem;
    border-radius: 50%;
    overflow: hidden;
    font-feature-settings: 'salt' on, 'ss01' on, 'ss02' on;
    color: #fff;
    border: 2px solid #FF7571;
    margin-top: -25px;
    margin-left: -10px;
}
.returnBtn:hover{
    background: linear-gradient(269.16deg, #FFE580 -15.83%, #FF7571 -4.97%, #FF7270 15.69%, #EA5DAD 32.43%, #C2A0FD 50.09%, #9867F0 67.47%, #3BF0E4 84.13%, #33CE43 105.13%, #B2F4B6 123.24%);
    background-position: 58% 50%;
    background-size: 500%;
    color: black;
}
.returnBtnCont{
    position: absolute;
    top: 40px;
    left: 25px;
}
.copyBtn{
    display: block;
    position: relative;
    top: 0;
    left: 0;
    z-index: 25;
    background-color: #000;
    width: 80px;
    height: 80px;
    font-family: "alliance", mono, sans-serif;
    align-items: center;
    justify-content: center;
    text-transform: none;
    font-weight: 600;
    font-size: 2.5rem;
    border-radius: 50%;
    overflow: hidden;
    font-feature-settings: 'salt' on, 'ss01' on, 'ss02' on;
    color: #fff;
    border: 2px solid #FF7571;
    margin-top: -25px;
    margin-left: -10px;
    font-family: FontAwesome;
    content: "\f0c5";
    text-decoration: none;
    font-style: normal;
}
.copyBtn:hover{
    background: linear-gradient(269.16deg, #FFE580 -15.83%, #FF7571 -4.97%, #FF7270 15.69%, #EA5DAD 32.43%, #C2A0FD 50.09%, #9867F0 67.47%, #3BF0E4 84.13%, #33CE43 105.13%, #B2F4B6 123.24%);
    background-position: 58% 50%;
    background-size: 500%;
    color: black;
}
.copyBtnCont{
    position: absolute;
    top: 40px;
    right: 25px;
}
i{
  text-decoration: none;
  font-style: normal;
}
.eventCont {
    width: 80%;
    position: relative;
    max-width: 1100px;
    background: #343435;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 25px 25px 25px;
    border-radius: 25px;
    transition: all 0.3s;
    margin: 50px auto;
    font-family: 'Fira Sans', sans-serif;
}
.eventGrid{
    display: grid;
    grid-template-columns: auto auto;
    width: 80%;
    margin: 40px auto auto auto;
    column-gap: 20px;
}
.infoSup{
    padding-top: 6%;
}
.imgEventCont{
    text-align: center;
}
.imgEvent {
    width: 300px;
    flex-shrink: 0;
    height: 300px;
    background-image: linear-gradient(87.54deg, #9867F0 -6.8%, #EA5DAD 84.14%);
    box-shadow: 4px 8px 30px 5px rgba(252, 56, 56, 0.15);
    border-radius: 20px;
    object-fit: cover;  
}
.dateEvent{
    color: #9694a8;
	 margin-bottom: 50px;
     text-align: center;
	 display: block;
	 font-weight: 500;
   font-size: 1.2rem;
}
.titreEvent{
    font-size: 2rem;
	 font-weight: 700;
	 color: #9f3fcc;
	 margin-bottom: 20px;
}
.txtEvent{
    color: #fff;
	 margin: 50px 50px;
	 line-height: 1.5em;
     text-align: justify;
     font-size: 1.4rem;
}
.adresseEvent{
    color: #fff;
	 margin-bottom: 50px;
     text-align: center;
	 display: block;
	 font-weight: 500;
     font-size: 1.4rem;
}
.userEvent{
    color: #9694a8;
	 margin-bottom: 25px;
     text-align: center;
	 display: block;
	 font-weight: 500;
     font-size: 1.2rem;
}
.btnEvent{
    display: inline-flex;
	 background-image: linear-gradient(87.54deg, #9867F0 -6.8%, #EA5DAD 84.14%);
	 padding: 25px 45px;
	 border-radius: 50px;
	 color: #fff;
	 box-shadow: 0px 6px 8px rgba(252, 56, 56, 0.3);
	 text-decoration: none;
	 font-weight: 500;
	 justify-content: center;
	 text-align: center;
	 letter-spacing: 1px;
     font-size: 1.2rem;
}
.corps-M{
    max-height: 900px;
}
.eventCont-M{
    width: 80%;
    position: relative;
    max-width: 1000px;
    background: #343435;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 25px 25px 25px;
    border-radius: 25px;
    transition: all 0.3s;
    margin: 50px auto;
    font-family: 'Fira Sans', sans-serif;
}
.infoCont{
    margin-top: 40px;
}
@media screen and (max-width: 1000px){
    .eventGrid{
        display: inline;
    }
    .infoSup{
      padding-top: 40px;
    }
}

/* Section Commentaire */

.text-right{ text-align: right; }


.comment-form{ 
  margin: auto;
  margin-top: 30px;
  width: 60%;
 }
.comment-form .comment-avatar{  }

.comment-form .form{ margin-left: 100px; }

.comment-form .form .form-row{ margin-bottom: 10px; }
.comment-form .form .form-row:last-child{ margin-bottom: 0; }

.comment-form .form .input{
  font-family: 'Open Sans';
      border: 1px solid white;
      width: 100%;
      background-color: #000;
      color: #fff;
      letter-spacing: 1px;
      padding: 2%;
      border-radius: 10px;
      resize: none;
      align-items: center;
      font-size: 1.25rem;

  -webkit-transition: 350ms box-shadow;
  -moz-transition: 350ms box-shadow;
  -ms-transition: 350ms box-shadow;
  -o-transition: 350ms box-shadow;
  transition: 350ms box-shadow;
}

.comment-form .form textarea.input{
  height: 100px;
  padding: 15px;
}

.comment-form .form label{
  color: #555f77;
  font-family: inherit;
  font-size: 14px;
}

.comment-form .form input[type=submit]{
  background: linear-gradient(269.16deg, #FFE580 -15.83%, #FF7571 -4.97%, #FF7270 15.69%, #EA5DAD 32.43%, #C2A0FD 50.09%, #9867F0 67.47%, #3BF0E4 84.13%, #33CE43 105.13%, #B2F4B6 123.24%);
	background-position: 58% 50%;
  background-size: 500%;
  border: none;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
  color: #000;
  cursor: pointer;
  display: block;
  margin: auto;
  outline: none;
  padding: 6px 15px;
  font-weight: bold;
  font-family: 'Open Sans';
  font-size: 1.35rem;

  -webkit-transition: 350ms box-shadow;
  -moz-transition: 350ms box-shadow;
  -ms-transition: 350ms box-shadow;
  -o-transition: 350ms box-shadow;
  transition: 350ms box-shadow;
}

.comment-form .form .input:focus,
.comment-form .form input[type=submit]:focus,
.comment-form .form input[type=submit]:hover{
  box-shadow: 0 2px 6px #C2A0FD;
}

.comment-form .form.ng-submitted .input.ng-invalid,
.comment-form .form .input.ng-dirty.ng-invalid{
  box-shadow: 0 2px 6px rgba(212, 47, 47, .55) !important;
}

.comment-form .form .input.disabled {
    background-color: #E8E8E8;
}


.comments{  }

.comment-form,
.comment{
  margin-bottom: 20px;
  position: relative;
  z-index: 0;
}

.comment-form .comment-avatar,
.comment .comment-avatar{
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  height: 80px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 80px;
}


.comment .comment-box{
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
  margin-left: 100px;
  min-height: 60px;
  position: relative;
  padding: 15px;
}

.comment .comment-box:before,
.comment .comment-box:after{
  border-width: 10px 10px 10px 0;
  border-style: solid;
  border-color: transparent #FCFCFC;
  content: "";
  left: -10px;
  position: absolute;
  top: 20px;
}

.comment .comment-box:before{
  border-color: transparent rgba(0, 0, 0, .05);
   top: 22px;
}

.comment .comment-text{
  color: #555f77;
  font-size: 15px;
  margin-bottom: 25px;
}

.comment .comment-footer{
  color: #acb4c2;
  font-size: 13px;
}

.comment .comment-footer:after{
  content: "";
  display: table;
  clear: both;
}

.comment .comment-footer a{
  color: #acb4c2;
  text-decoration: none;

  -webkit-transition: 350ms color;
  -moz-transition: 350ms color;
  -ms-transition: 350ms color;
  -o-transition: 350ms color;
  transition: 350ms color;
}

.comment .comment-footer a:hover{
  color: #555f77;
  text-decoration: underline;
}

.comment .comment-info{
  float: left;
  width: 85%;
}

.comment .comment-author{ }
.comment .comment-date{ }

.comment .comment-date:before{
  content: "|";
  margin: 0 10px;
}

.comment-actions{
  float: left;
  text-align: right;
  width: 15%;
}
.comment-pp{
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  height: 80px;
  width: 80px;
  object-fit: cover;
  float: left;
}
.commentBody{
  width: 90%;
  margin-left: auto;
  margin-right: 0;
  padding: 10px 15px;
  font-family: 'Open Sans';
  background-color: #343435;
  border-radius: 15px;
  margin-bottom: 15px;
}
.commentHeader{
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 10px;
}
.commentText{
  color: white;
  font-size: 1.4rem;
  text-align: justify;
}
.commentDate{
  color: rgb(182, 182, 182);
  font-size: 1.2rem;
  text-align: right;
}
.commentUser{
  color: rgb(182, 182, 182);
  font-size: 1.2rem;
  text-align: left;
}
.commCont{
  margin-top: 30px;
}
.pageNum{
  font-size: 1.35rem;
  font-family: 'Open Sans';
  padding-top: 15px;
  text-align: center;
}
.pageBtn{
  background: linear-gradient(269.16deg, #FFE580 -15.83%, #FF7571 -4.97%, #FF7270 15.69%, #EA5DAD 32.43%, #C2A0FD 50.09%, #9867F0 67.47%, #3BF0E4 84.13%, #33CE43 105.13%, #B2F4B6 123.24%);
	background-position: 58% 50%;
  background-size: 500%;
  border: none;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
  color: #000;
  cursor: pointer;
  margin: auto;
  outline: none;
  padding: 10px 20px 15px 20px;
  font-weight: bolder;
  font-family: 'Open Sans';
  font-size: 1.8rem;
}
.pageBtn:hover{
  box-shadow: 0 2px 6px #C2A0FD;
}
.gridComm{
  display: grid;
  grid-template-columns: auto auto auto;
  width: 90%;
  margin-left: auto;
  margin-right: 0;
  margin-top: 20px;
}
/* Star rating */

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
  margin-left: 2px;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 2em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

.starCont{
  margin: 20px auto auto auto;
}
.starTitle{
  text-align: left;
  margin-top: 20px;
  margin-left: 7px;
}
.noter{
  background: linear-gradient(269.16deg, #FFE580 -15.83%, #FF7571 -4.97%, #FF7270 15.69%, #EA5DAD 32.43%, #C2A0FD 50.09%, #9867F0 67.47%, #3BF0E4 84.13%, #33CE43 105.13%, #B2F4B6 123.24%);
	background-position: 58% 50%;
  background-size: 500%;
  border: none;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
  color: #000;
  cursor: pointer;
  display: block;
  margin-left: 63px;
  margin-top: 50px;
  outline: none;
  padding: 6px 15px;
  font-weight: bold;
  font-family: 'Open Sans';
}