.iconDetails {
    margin-left:2%; 
   height:65px;
   width:65px; 
   } 
   
   .container2 {
       width:100%;
       height:auto;
       padding:1%;
       margin-bottom: 2%;
   }
   
   h4 {
       margin:0px;
   }