/*
 * @Name: GitHub Event Web
 * @Author: Max Base
 * @Repository: https://github.com/BaseMax/GitHubEventWeb
*/

@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
* {
    padding: 0;
    margin: 0;
}
*, *:before, *:after {
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    touch-action: manipulation;
}
body {
    background: #000;
    color: white;
    font-family: "Open Sans";
}
img {
    border: 0px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}
a.underline {
    padding-bottom: 4px;
    color: white;
    border-bottom: 2px solid white;
}
a.underline:hover{
	color: #959da5;
	border-bottom: 2px solid #959da5;
}
.gradient-subtext {
    background: -webkit-linear-gradient(270.97deg, #FFE580 -21.36%, #FF7571 -2.45%, #EA5DAD 26.84%, #C2A0FD 64.15%, #3BF0E4 108.29%, #B2F4B6 159.03%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gradient-text {
    /* background: -webkit-linear-gradient(270.97deg, #FFE580 -21.36%, #FF7571 -2.45%, #EA5DAD 26.84%, #C2A0FD 64.15%, #3BF0E4 108.29%, #B2F4B6 159.03%); */
    background: linear-gradient(267.91deg, #FFE57F 9.35%, #FF7170 96.48%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text-gradient-purple {
    background: linear-gradient(87.54deg, #9867F0 -6.8%, #ED4E50 84.14%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
.main .button {
    width: auto;
    font-size: 1.3rem;
    min-width: 220px;
    min-height: 80px;
    white-space: nowrap;
    margin-bottom: 30px;
}
.main-M .button {
    width: auto;
    font-size: 1.3rem;
    min-width: 220px;
    min-height: 80px;
    white-space: nowrap;
    margin-bottom: 30px;
}
.button {
    font-family: "alliance", mono, sans-serif;
    position: relative;
    z-index: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: none;
    font-weight: 600;
    font-size: 1.4rem;
    padding: 4px 28px;
    height: 56px;
    border-radius: 0;
    overflow: hidden;
    background: transparent;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    font-feature-settings: 'salt' on, 'ss01' on, 'ss02' on;
    color: #fff;
    border: 2px solid #FF7571;
    border-radius: 15px;
}
.button:hover {
    background: linear-gradient(269.16deg, #FFE580 -15.83%, #FF7571 -4.97%, #FF7270 15.69%, #EA5DAD 32.43%, #C2A0FD 50.09%, #9867F0 67.47%, #3BF0E4 84.13%, #33CE43 105.13%, #B2F4B6 123.24%);
    background-position: 58% 50%;
    background-size: 500%;
    color: black;
}
.buttonBW{
    font-family: "alliance", mono, sans-serif;
    position: relative;
    z-index: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: none;
    font-weight: 600;
    font-size: 14px;
    padding: 4px 28px;
    height: 56px;
    border-radius: 0;
    overflow: hidden;
    background: transparent;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    font-feature-settings: 'salt' on, 'ss01' on, 'ss02' on;
    color: #fff;
    border: 2px solid #3a3a3a;
    border-radius: 15px;
}
.buttonBW:hover{
    background: linear-gradient(87.54deg, #3a3a3a -6.8%, #afabab 84.14%);
    color: black;
}
#btnretour{
    color: white;
    position: fixed;
    bottom: 20;
    right: 20;
    z-index: 5;
    font-size: 3.5rem;
    display: none;
    cursor: pointer;
}
#btnretour:hover{
    color: #c3ccd4;
}
section.updates {
    text-align: center;
    display: inline-block;
    width: 100%;
    height: auto;
    padding-top: 45px;
    padding-bottom: 45px;
    color: #B5BFD2;
}
section.updates p.signup-text {
    font-size: 20px;
}
section.subscribe .login .heading p.follow-text {
    font-size: 20px;
}
section.updates p.follow-text {
    margin-top: 35px;
}
footer {
    text-align: center;
    display: inline-block;
    width: 100%;
    height: auto;
    color: #959da5;
    font-size: 1.4rem;
}
footer ul {
    width: 100%;
    float: left;
    margin-top: 25px;
    margin-bottom: 25px;
}
footer .logo {
    width: 45px;
    margin-bottom: 10px;
}
footer .copyright {
    width: 100%;
    display: inline-block;
    margin-bottom: 30px;
}
ul.linear-list li a img{
	width: 35px;
}
ul.linear-list li a:hover{
	color: white;
}
ul.linear-list li {
    display: inline-block;
    padding: 10px;
}
header {
    display: inline-block;
    width: 100%;
    height: 120px;
    background: #040303;
    border-bottom: 1px solid rgba(66,82,109,0.5);
    padding-top: 5px;
    padding-bottom: 5px;
}
header nav {
    float: right;
    margin-right: 5px;
}
header nav ul{
    list-style: none;
}
header nav li {
    display: inline-block;
	height: 114px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 39px;
    padding-bottom: 20px;
    width: auto;
}
header nav a{
    font-size: 1.8rem;
    font-weight: bold;
}
header nav li.active {
    border-bottom: 2px solid #d73a49;
    /* border-bottom: 2px solid #FFE57F;  */
}
header nav li a:hover{
	color: #959da5;
}
.bread{
    display: inline-block;
	height: 105%;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 25px;
    padding-bottom: 20px;
    width: auto;
}
.burger{
    font-size: 3rem;
    margin-right: 50px;
}
section.blog {
    width: 100%;
    float: left;
}
section.blog .subtitle {
    color: #FFE57F;
}
section.blog h1 {
    font-size: 45px;
    color: #FFE57F;
    margin-bottom: 15px;
}
section.blog p {
    text-align: justify;
    line-height: 30px;
    padding-top: 8px;
    padding-bottom: 15px;
}
section.blog .author {
    float: left;
    margin-left: 20px;
    margin-bottom: 35px;
}
section.blog .time {
    color: #B5BFD2;
}
section.blog .author .details {
    float: left;
    margin-left: 15px;
}
section.blog .author h5 {
    width: 100%;
    margin-top: 5px;
    font-size: 19px;
    margin-bottom: 5px;
}
section.blog .author span {
    width: 100%;
}
section.blog .author img {
    float: left;
    width: 70px;
    border-radius: 50%;
}
header .logo {
    size-adjust: 100%;
    height: 100%;
    text-align: center;
    margin-left: 200px;
    user-select: none;
    -webkit-user-drag: none;
}
header .logo-M{
    size-adjust: 100%;
    height: 100%;
    text-align: center;
    margin-left: 100px;
    user-select: none;
    -webkit-user-drag: none;
}
@media screen and (max-width: 1410px) {
    #computer  {
     display: none !important;
    }
    #mobile{
        display: block !important;
    }
}
@media screen and (max-width: 912px) {
    section.main h1  {
     font-size: 6rem !important;
    }
}
header .time {
    float: left;
    line-height: 60px;
    color: #B5BFD2;
}
header .countdown-time {
    float: left;
    line-height: 60px;
    margin-left: 15px;
}
section.sponsors {
    display: inline-block;
    text-align: center;
    width: 100%;
    height: auto;
    
    /* border-top: 1px solid rgba(66,82,109,0.5); */
}
section.speakers {
    text-align: center;
    display: inline-block;
    width: 100%;
    height: auto;
    background-color: #040303;
}
section.attends {
    text-align: center;
    display: inline-block;
    width: 100%;
    height: auto;
    background-color: #040303;
    background-image: url('shape-bl.webp');
    background-position: bottom/left;
    background-size: cover;
    background-repeat: no-repeat;
}
section.attends h2 {
    font-size: 4.5rem;
    margin-bottom: 60px;
    margin-top: 45px;
}
section.attends h4 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.argument{
    background-color: #343435;
    width: 70%;
    margin: 20px auto;
    border-radius: 25px;
    padding: 20px;
}
section.attends div p {
    color: #B5BFD2;
    font-size: 1.5rem;
}
section.content-small {
    height: auto !important;
}
section.content-small h1 {
    margin-top: 0px !important;
}
section.content {
    text-align: center;
    display: inline-block;
    width: 100%;
    background-color: #040303;
    background-image: url('pattern-light.svg');
    background-position: center;
    background-attachment: cover;
    background-repeat: no-repeat;
}
section.main {
    text-align: center;
    display: inline-block;
    width: 100%;
    height: auto;
    background-color: #040303;
    background-image: url('../image/nightclub-crowd1.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
section.main-M {
    text-align: center;
    display: inline-block;
    width: 100%;
    background-color: #040303;
    background-image: url('../image/nightclub-crowd1.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
section.sponsors h4 {
    font-size: 36px;
    line-height: 96px;
}
section.content h1 {
    font-size: 96px;
    line-height: 125px;
    margin-top: 45px;
    margin-bottom: 25px;
}
section.content p {
    margin-bottom: 15px;
    color: #B5BFD2;
    font-size: 1.7rem;
}
section.main h1 {
    font-size: 7.5rem;
    line-height: 125px;
    margin-top: 50px;
    margin-bottom: 50px;
}
section.main p {
    margin-bottom: 15px;
    color: #B5BFD2;
    font-size: 1.7rem;
}
section.main-M h1 {
    font-size: 7rem;
    line-height: 125px;
    margin-top: 25px;
    margin-bottom: 25px;
}
section.main-M p {
    margin-bottom: 15px;
    color: #B5BFD2;
    font-size: 1.4rem;
}
.container {
    width: 90%;
    padding: 45px;
    margin: auto;
}
.container p{
    font-size: 1.5rem;
}
ul.sponsor-list {
    float: left;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 25px;
}
ul.sponsor-list li {
    width: 25%;
    float: left;
    margin-bottom: 15px;
    width: calc(25% - 16px);
}
ul.sponsor-list li img {
    text-align: center;
    vertical-align: middle;
    /* max-width: 150px; */
    /* max-height: 40px; */
    width: auto;
    max-width: 70%;
    max-height: 80px;
}
ul.sponsor-list li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 128px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: opacity .3s ease-in-out;
}
hr.gradient {
    background: rgba(66,82,109,0.5);
    height: 2px;
}
hr {
    background: rgba(66,82,109,0.5);
    height: 1px;
    border: none;
}
section.subscribe {
    text-align: center;
    display: inline-block;
    width: 100%;
    z-index: 1;
    background: url(cta-bg.webp) center/100% auto no-repeat;
    padding: 40px 0;
    background-size: cover;
}
section.subscribe p {
    width: 80%;
    font-size: 1.4rem;
    margin: auto;
}
section.subscribe h4{
    font-size: 36px;
    line-height: 96px;
}
ul.blog-utilites {
    float: right;
}
ul.blog-utilites li {
    display: inline-block;
    text-align: center;
    margin-left: 7px;
    margin-right: 7px;
}
a.go-back svg {
    float: left;
}
a.go-back span {
    float: left;
    line-height: 24px;
    margin-left: 10px;
}
.clear {
    clear: both;
}
section.faq {
    text-align: center;
    width: 100%;
    height: auto;
}
section.faq h1 {
    font-size: 43px;
    margin-bottom: 39px;
}
ul.faq-question svg {
    float: right;
    cursor: pointer;
    margin-top: -35px;
    fill: white;
    transition: transform .6s ease;
}
ul.faq-question h2.faq-title {
    text-align: left;
    font-size: 30px;
    margin-bottom: 15px;
}
ul.faq-question .faq-content {
    text-align: left;
    margin-left: 0px;
    font-weight: 500;
    margin-bottom: 26px;
    color: #959da5;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255,255,255,.3);
}
ul.speaker-list {
    width: 100%;
    float: left;
    margin-bottom: 19px;
}
ul.speaker-list li {
    width: 100%;
    height: auto;
    /* float: left; */
    display: inline-block;
    padding-top: 30px;
    padding-bottom: 35px;
    border-bottom: 1px solid rgba(66,82,109,0.5);
}
ul.speaker-list li img {
    width: 110px;
    border-radius: 50%;
    /* border: 3px solid #FFE57F; */
    border: 3px solid #FF7170;
}
ul.speaker-list li h3 {
    text-align: center;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 25px;
    color: white;
    margin-bottom: 4px;
}
ul.speaker-list li h4 {
    font-size: 23px;
    color: white;
}
ul.speaker-list li h5 {
    font-size: 20px;
    color: #B5BFD2;
}
section.speakers h1 {
    font-size: 64px;
    line-height: 96px;
    margin-top: 45px;
    margin-bottom: 25px;
}
section.profile {
    float: left;
    width: 100%;
    height: auto;
    margin-bottom: 45px;
}
section.profile .avatar {
    float: left;
    width: 250px;
    border-radius: 10px;
}
section.profile .details {
    width: calc(100% - 275px);
    margin-left: 25px;
    float: left;
}
section.profile h1 {
    font-size: 54px;
    margin-bottom: 8px;
}
section.profile h2 {
    color: #B5BFD2;
    margin-bottom: 25px;
}
section.profile .social {
    margin-top: 25px;
}
section.profile .social svg {
    height: 24px;
    fill: currentColor;
    margin-right: 25px;
}
.hidden{
    display: none;
}
#adresse{
    border-radius: 10px;
    color: white;
}
/* contact-form */

.contact {
    padding-top: 3%;
    padding-bottom: 3%;
    width: 100%;
}

.spacer{
    height: 100px;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px 'Oswald', sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.contact-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}

.contact-wrapper-M {
    display: inline-block;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    max-width: 840px;
  }
/* Left contact page */
.form-horizontal {
  /*float: left;*/
  max-width: 400px;
  font-family: 'Open Sans';
  font-weight: 400;
  margin: 0 20px;
}

.form-control{
	border: 1px solid white;
	width: 100%;
	background-color: #000;
	color: #fff;
	letter-spacing: 1px;
	padding: 2%;
	margin-bottom: 1%;
	border-radius: 10px;
    resize: none;
    align-items: center;
    font-size: 1.25rem;
    font-family: 'Open Sans';
}
.form-control-M{
	border: 1px solid white;
	width: 100%;
	background-color: #000;
	color: #fff;
	letter-spacing: 1px;
	padding: 15px;
	margin-bottom: 30px;
	border-radius: 20px;
    resize: none;
    align-items: center;
    font-size: 1.7rem;
    font-family: 'Open Sans';
}
input.form-control{
    height: 50px;
    margin-bottom: 1%;
    font-family: 'Open Sans';
}
textarea.form-control{
    margin-bottom: 1%;
    width: 100%;
    max-width: 500px;
    font-family: 'Open Sans';
}
.form-control:focus{
	border: 1px solid white;
	filter: drop-shadow(0 0 0.15rem white);
}
input.form-control-M{
    height: 75px;
    margin-bottom: 30px;
    min-height: 50px;
    font-family: 'Open Sans';
}
textarea.form-control-M{
    margin-bottom: 0;
    width: 100%;
    height: 400px;
    margin-bottom: 30px;
    max-width: 500px;
    font-family: 'Open Sans';
}
select.form-control-M{
    height: 75px;
    margin-bottom: 30px;
    min-height: 50px;
    font-family: 'Open Sans';
}
.form-control-M:focus{
	border: 1px solid white;
	filter: drop-shadow(0 0 0.15rem white);
}

.send-button {
	border-radius: 10px;
	background: linear-gradient(269.16deg, #FFE580 -15.83%, #FF7571 -4.97%, #FF7270 15.69%, #EA5DAD 32.43%, #C2A0FD 50.09%, #9867F0 67.47%, #3BF0E4 84.13%, #33CE43 105.13%, #B2F4B6 123.24%);
	background-position: 58% 50%;
    background-size: 500%;
	margin: 30px auto;
	height: 60px;
	width: 100%;
	overflow: hidden;
	transition: all .2s ease-in-out;
	cursor: pointer;
    max-width: 400px;
}

.alt-send-button {
  width: 400px;
  height: 45px;
  transition: all .2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 20px;
  font-family: 'Open Sans';
  font-size: 1.2rem;
  font-weight: 800;
}

.alt-send-button:hover {
  transform: translate3d(0px, -40px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
  margin-left: 0;
  margin-top: 0;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: 15px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
  font-size: 1.4rem;
}

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
  font-size: 1.6rem;
}

.place {
  margin-left: 32px;
}

.phone {
  margin-left: 26px;
}

.gmail {
  margin-left: 23px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}


/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 2rem;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative; 
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff; 
}

.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #000;
}

.copyright {
  font: 200 14px 'Oswald', sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 5px;
  font-size: 1.4rem;
}

hr {
  border-color: rgba(255,255,255,.6);
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  .direct-contact-container, .form-horizontal {
    margin: 0 auto;
  }  
  
  .direct-contact-container {
    margin-top: 20px;
    max-width: 300px;
  }    
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {

  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }  
  .form-control, textarea {
    
    margin: 0 auto;
  }
 
  
  .name, .email, textarea {
    width: 280px;
  } 
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }  
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
  
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}
.direct-contact-container{
	text-align: left;
}
.fa-paper-plane{
	margin-top: 16px;
    margin-bottom: 0;
}
.fa-social{
	margin-top: 15px;
}
/* fin contact-form */
.insc-cont-1 {
  font-family: 'Lato';
  font-weight: 400;
  margin: auto;
  display: inline-block;
}
.insc-cont{
    text-align: center;
    
}
.insc-form {
    height: 50px;
    width: 500px;
}
.form-group-insc{
    margin: 1% 0 3% 0;
    width: 100%;
}
.insc-form-btn{
    width: 500px;
}
.fa-paper-plane-1{
    margin-left: 0;
}
.send-text-1{
    margin-left: 0;
}
.insc-form-checkbox{
    height: 30px;
    width: 30px;
    float: left;
    margin-top: 2px;
    margin-right: 10px;
    border: 1px solid white;
    border-radius: 50%;
    appearance: none;
    -webkit-appearance: none;
    background-color: #000;
    cursor: pointer;
}
.insc-form-checkbox:checked{
    background-color: #9867F0;
}
.insc-form-checkbox-date{
    height: 30px;
    width: 30px;
    border: 1px solid white;
    border-radius: 50%;
    appearance: none;
    -webkit-appearance: none;
    background-color: #000;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 5px;
}
.insc-form-checkbox-date:checked{
    background-color: #9867F0;
}
.insc-form-checkbox-txt{
    font-family: 'Open Sans';
    font-size: 1.4rem;
    float: right ;
}
.insc-form-checkbox-txt-date{
    font-family: 'Open Sans';
    font-size: 1.7rem;
    text-align: left;
    position: relative;
    top: -4.5px;
}
.insc-form-checkbox-txt:hover{
    cursor: pointer;
}
.insc-form-checkbox-txt-date:hover{
    cursor: pointer;
}
::-webkit-calendar-picker-indicator {
    filter: invert(1);
    width: 30px;
    cursor: pointer;
}
.col-sm-15{
    margin-bottom: 30px;
}
.col-sm-20{
    margin-bottom: 30px;
}
.col-sm-25{
    margin-bottom: 15px;
}
.chBox{
    text-align: left;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.chBox-F{
    text-align: center;
    font-family: 'Open Sans';
    max-width: 500px;
    margin: auto;
}
.chBox-F input[type='radio']{
    transform: scale(1.8);
    margin-bottom: 10px;
    margin-right: 5px;
}
.insc-cont-1 h1{
    font-family: 'Open Sans';
    text-align: center;
    margin-bottom: 10px;

}
.ajout .uploadFile{
    margin-top: 20px;
    width: 80%;
    padding: 12px 0;
}
.uploadFile{
    border: 2px solid #FF7571;
    display: inline-block;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 15px;
    width: 60%;
    margin: auto auto 20px auto;
    font-family: 'Open Sans';
    font-size: 1.4rem;
}
.uploadFile:hover{
    background: linear-gradient(269.16deg, #FFE580 -15.83%, #FF7571 -4.97%, #FF7270 15.69%, #EA5DAD 32.43%, #C2A0FD 50.09%, #9867F0 67.47%, #3BF0E4 84.13%, #33CE43 105.13%, #B2F4B6 123.24%);
	background-position: 58% 50%;
    background-size: 500%;
    color: black;
}
.btnUpload{
    display: none;
}
.btnCont{
    display: grid;
    grid-template-columns: auto auto;
    vertical-align: middle;
    width: 70%;
    margin: auto;
}
.addImg{
    border: 2px solid #FF7571;
    display: inline-block;
    padding: 10px 24px;
    cursor: pointer;
    border-radius: 15px;
    width: 40%;
    height: 50px;
    font-family: 'Open Sans';
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
  }
  .addImg:hover{
    background: linear-gradient(269.16deg, #FFE580 -15.83%, #FF7571 -4.97%, #FF7270 15.69%, #EA5DAD 32.43%, #C2A0FD 50.09%, #9867F0 67.47%, #3BF0E4 84.13%, #33CE43 105.13%, #B2F4B6 123.24%);
    background-position: 58% 50%;
    background-size: 500%;
    color: black;
  }
.col-sm-20 .addImg{
    border: 2px solid #FF7571;
    display: inline-block;
    padding: 15px 24px 15px 24px;
    cursor: pointer;
    border-radius: 15px;
    width: 60%;
    font-family: 'Open Sans';
    margin-left: auto;
    margin-right: auto;
    font-size: 1.6rem;
    background-color: transparent;
    color: white;
    height: auto;
}
.col-sm-20 .addImg:hover{
    background: linear-gradient(269.16deg, #FFE580 -15.83%, #FF7571 -4.97%, #FF7270 15.69%, #EA5DAD 32.43%, #C2A0FD 50.09%, #9867F0 67.47%, #3BF0E4 84.13%, #33CE43 105.13%, #B2F4B6 123.24%);
    background-position: 58% 50%;
    background-size: 500%;
    color: black;
    font-family: 'Open Sans';
}
#prive{
    grid-area: btn1;
}
#txtprive{
    grid-area: desc1;
}
#date-mask{
    grid-area: btn2;
}
#txtdate{
    grid-area: desc2;
}
#payant{
    grid-area: btn3;
}
#txtpayant{
    grid-area: desc3;
}
.text-control{
	border: 1px solid white;
	width: 100%;
	background-color: #000;
	color: #fff;
	letter-spacing: 1px;
	padding: 2%;
	margin-bottom: 1%;
	border-radius: 10px;
    resize: none;
    align-items: center;
    margin-bottom: 30px;
    font-size: 1.25rem;
    font-family: 'Open Sans';
}
input.text-control{
    height: 50px;
    margin-bottom: 10px;
    
}
textarea.text-control{
    margin-bottom: 0;
    width: 95%;
    max-width: 500px;
}
.text-control:focus{
	border: 1px solid white;
	filter: drop-shadow(0 0 0.15rem white);
}
.pageOrga{
    border-radius: 10px;
	background: linear-gradient(269.16deg, #FFE580 -15.83%, #FF7571 -4.97%, #FF7270 15.69%, #EA5DAD 32.43%, #C2A0FD 50.09%, #9867F0 67.47%, #3BF0E4 84.13%, #33CE43 105.13%, #B2F4B6 123.24%);
	background-position: 58% 50%;
    background-size: 500%;
	height: 30px;
	width: 250px;
	cursor: pointer;
    color: #000;
    font-size: 1.2rem;
    position: absolute;
    right: 10px;
    margin-top: -10px;
}
.errorCont{
    width: 100%;
    position: fixed;
    top: 0;
    height: auto;
    transition: 1s;
}
.errorMessage{
    margin: auto;
    text-align: center;
    width: 300px;
    padding: 20px;
    color: #000000;
    background-color: #ec7070;
    border: solid 2px #9f3939;
    border-radius: 10px;
    transition: 1s;
}
.errorMessage button{
    background-color: #9f3939;
    border: none;
    border-radius: 10px;
    padding: 5px;
    font-size: 1.2rem;
    margin-top: 20px;
    cursor: pointer;
}
.okCont{
    width: 100%;
    position: fixed;
    top: 0;
    height: auto;
    transition: 1s;
}
.okMessage{
    margin: auto;
    text-align: center;
    width: 300px;
    padding: 20px;
    color: #000000;
    background-color: #44af56;
    border: solid 2px #2f793b;
    border-radius: 10px;
    transition: 1s;
}
.okMessage button{
    background-color: #2f793b;
    border: none;
    border-radius: 10px;
    padding: 5px;
    font-size: 1.2rem;
    margin-top: 20px;
    cursor: pointer;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
  }
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.titleMap{
    font-size: 4rem;
    margin: auto;
}
.subtitleMap{
    font-size: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
.menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 130px;
  }
  
  .menu a {
    margin: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Open Sans';
    color: white;
    display: block;
    transition: 0.3s;
    white-space: nowrap;
  }
  
  .menu a:hover {
    color: #959da5;
  }
  
  .menu .closebtn {
    position: absolute;
    top: 0;
    right: 56px;
    font-size: 5rem;
  }
  .menuBack{
    width:  100%;
    height: 100%;
    visibility: hidden;
    transition: opacity 1s;
    position: fixed;
    z-index: 90;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }
  /*Newsletter*/
  .newsCont{
	display: grid;
	grid-template-columns: 2fr 5fr 2fr;
	height: 80px;
}
.newsBar{
	text-align: center;
    height: 80px;
    width: 60%;
    margin: auto;
}
.news{
	border: 1px solid white;
	width: 40%;
	height: 65%;
	background-color: #000;
	color: #fff;
	letter-spacing: 1px;
	padding-left: 10px;
	margin-bottom: 2.5%;
	border-radius: 15px 0 0 15px;
    resize: none;
    align-items: center;
	vertical-align: middle;
	font-size: 1.4rem;
	padding: 20px;
}
.news:focus{
	filter: drop-shadow(0 0 0.15rem white);
	height: 62%;
}
.news:focus ~ .newsBtn{
	border: 1px solid white;
	filter: drop-shadow(0 0 0.15rem white);
}
.newsBtn{
	border: 1px solid white;
	width: 10%;
	height: 65%;
	background-color: #000;
	color: #fff;
	letter-spacing: 1px;
	margin-bottom: 2.5%;
	border-radius: 0 15px 15px 0;
    resize: none;
    align-items: center;
	vertical-align: middle;
	margin-left: -5px;
	cursor: pointer;
	padding-top: 10px;
    font-size: 1.2rem;
}
.newsBtn:focus{
	border: 1px solid white;
	filter: drop-shadow(0 0 0.15rem white);
}
.newsBtn:hover{
	border: 1px solid white;
	filter: drop-shadow(0 0 0.15rem white);
}
.newsBtn .fa-paper-plane{
	margin-top: -7%;
}
.news-M{
	border: 1px solid white;
	width: 80%;
	height: 85%;
	background-color: #000;
	color: #fff;
	letter-spacing: 1px;
	padding: 30px 10px;
	margin-bottom: 2.5%;
	border-radius: 15px 0 0 15px;
    resize: none;
    align-items: center;
	vertical-align: middle;
	font-size: 1.7rem;
}
.news-M:focus{
	filter: drop-shadow(0 0 0.15rem white);
	height: 83%;
}
.news-M:focus ~ .newsBtn-M{
	border: 1px solid white;
	filter: drop-shadow(0 0 0.15rem white);
}
.newsBtn-M{
	border: 1px solid white;
	width: 15%;
	height: 85%;
	background-color: #000;
	color: #fff;
	letter-spacing: 1px;
	padding-top: 26px;
	padding-bottom: 29px;
	margin-bottom: 2.5%;
	border-radius: 0 15px 15px 0;
    resize: none;
    align-items: center;
	vertical-align: middle;
	margin-left: -4.5px;
	cursor: pointer;
    font-size: 1.2rem;
}
.newsBtn-M:focus{
	border: 1px solid white;
	filter: drop-shadow(0 0 0.15rem white);
}
.newsBtn-M:hover{
	border: 1px solid white;
	filter: drop-shadow(0 0 0.15rem white);
}
.newsBtn-M .fa-paper-plane{
	margin-top: -4%;
}