@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
.returnBtn{
	display: block;
    position: relative;
    top: 0;
    left: 0;
	z-index: 25;
	padding-top: 8px;
	padding-left: 4px;
	background-color: #000;
	width: 60px;
	height: 60px;
	font-family: "alliance", mono, sans-serif;
    align-items: center;
    justify-content: center;
    text-transform: none;
    font-weight: 600;
    font-size: 35px;
    border-radius: 50%;
    overflow: hidden;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    font-feature-settings: 'salt' on, 'ss01' on, 'ss02' on;
    color: #fff;
    border: 2px solid #FF7571;
    margin-top: -25px;
    margin-left: -10px;
}
.returnBtn:hover{
	background: linear-gradient(269.16deg, #FFE580 -15.83%, #FF7571 -4.97%, #FF7270 15.69%, #EA5DAD 32.43%, #C2A0FD 50.09%, #9867F0 67.47%, #3BF0E4 84.13%, #33CE43 105.13%, #B2F4B6 123.24%);
	background-position: 58% 50%;
    background-size: 500%;
    color: black;	
}
.returnBtnCont{
    float: left;
    height: 100%;
    max-height: 800px;
}
.eventCont {
    width: 75%;
    position: relative;
    max-width: 1000px;
    max-height: 1000px;
    background: #343435;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 25px 25px 25px;
    border-radius: 25px;
    transition: all 0.3s;
    margin: 50px auto;
    font-family: 'Fira Sans', sans-serif;
}
.imgEventCont{
    float: right;
    margin-left: 70px;
    margin-right: 40px;
    height: 100%;
    max-height: 800px;
}
.imgEvent {
    width: 300px;
    flex-shrink: 0;
    height: 300px;
    background-image: linear-gradient(87.54deg, #9867F0 -6.8%, #EA5DAD 84.14%);
    box-shadow: 4px 8px 10px 5px rgba(252, 56, 56, 0.1);
    border-radius: 20px;
    object-fit: cover;
    margin-top: 50%;
}
.dateEvent{
    color: #9694a8;
	 margin-bottom: 25px;
     text-align: center;
	 display: block;
	 font-weight: 500;
}
.titreEvent{
    font-size: 28px;
	 font-weight: 700;
	 color: #9f3fcc;
	 margin-bottom: 20px;
}
.txtEvent{
    color: #fff;
	 margin: 30px 50px;
	 line-height: 1.5em;
     text-align: justify;
     font-size: 20px;
}
.adresseEvent{
    color: #9694a8;
	 margin-bottom: 25px;
     text-align: center;
	 display: block;
	 font-weight: 500;
     font-size: 20px;
}
.userEvent{
    color: #fff;
	 margin-bottom: 25px;
     text-align: center;
	 display: block;
	 font-weight: 500;
     font-size: 18px;
}
.btnEvent{
    display: inline-flex;
	 background-image: linear-gradient(87.54deg, #9867F0 -6.8%, #EA5DAD 84.14%);
	 padding: 15px 35px;
	 border-radius: 50px;
	 color: #fff;
	 box-shadow: 0px 6px 8px rgba(252, 56, 56, 0.3);
	 text-decoration: none;
	 font-weight: 500;
	 justify-content: center;
	 text-align: center;
	 letter-spacing: 1px;
}
.corps-M{
    max-height: 900px;
}